{% extends 'base.html' %}
{% load static %}

{% block page_title %}
All Subjects
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'my_lib/index.css' %}" >
{% endblock %}

{% block content %}
{% include 'my_lib/partials/header_nav.html' %}

<p>
    All Subjects
</p>

<ul>
    {% for subject in subjects %}
        <li><a href="{% url 'subject' subject %}">{{subject|title }}</a></li>
    {% endfor %}
</ul>


<p>
    This is from the template within my_lib -> templats -> my_lib -> index.html
</p>

{% endblock %}


