{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Subject {{ subject }}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'my_lib/subject.css' %}" >
{% endblock %}



{% block content %}
{% include 'my_lib/partials/header_nav.html' %}

<p>
Subject: {{ subject }}
</p>

{% if description is not None %}
<p>
    Description: {{ description }}
</p>
{% else %}
<p>
    There is no description
</p>
{% endif %}
<p>
  Subject Template File
</p>
{% endblock %}